<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= ["Field Server Admin", @title].compact.join(" - ") %></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    <section id="banner"><h1>Field Server Admin</h1></section>
    <div id="main">
      <nav>
        <ul>
          <li><a href="backup">Backup</a></li>
          <li><a href="remote">Remote Access</a></li>
        </ul>
      </nav>
      <section id="content">
        <h1 id="title"><%= @title %></h1>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
