<p>This tool allows remote access for a system administrator via your internet connection.</p>

<div id="status">
  <div class="label">Status</div>
  <% if !@remote.enabled? %>
    Remote access is disabled.
  <% elsif @remote.starting? %>
    Remote access is starting up. <a href="/panel/remote">Refresh</a> for updates.
  <% elsif @remote.failed? %>
    Starting remote access failed. See log below.
  <% elsif @remote.running? %>
    Remote access is open at <a href="<%= @remote.url %>"><%= @remote.url %></a>. It has been open since <%= @remote.status["time"] %>.
  <% else %>
    Remote access is currently closed.
  <% end %>
</div>

<table id="actions">
  <% if @remote.enabled? && !@remote.starting? && !@remote.running? %>
    <tr>
      <td>
        <a href="/panel/remote/start" onclick="fetch('/panel/remote/start?mode=ssh', {method: 'POST'}).then(res => window.history.go(0)); return false;">Open SSH</a>
      </td>
      <td>
        Turn on remote SSH access.
      </td>
    </tr>
    <tr>
      <td>
        <a href="/panel/remote/start" onclick="fetch('/panel/remote/start?mode=https', {method: 'POST'}).then(res => window.history.go(0)); return false;">Open HTTPS</a>
      </td>
      <td>
        Turn on remote HTTPS access.
      </td>
    </tr>
  <% end %>
  <% if @remote.running? || @remote.starting? %>
    <tr>
      <td>
        <a href="/panel/remote/close" onclick="fetch('/panel/remote/close', {method: 'POST'}).then(res => window.history.go(0)); return false;">Close</a>
      </td>
      <td>
        Turn off remote access.
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <a href="/panel/remote">Refresh</a>
    </td>
    <td>
      Update the information on this page.
    </td>
  </tr>
</table>

<% if @remote.log %>
  <h3>Log</h3>
  <pre><%= @remote.log %></pre>
<% end %>
