<p>This tool allows remote access for a system administrator via your internet connection.</p>

<table>
  <% if @remote.enabled? && !@remote.running? %>
    <tr>
      <td>
        <a href="/remote/start" onclick="fetch('/remote/start', {method: 'POST'}).then(res => window.history.go(0)); return false;">Open</a>
      </td>
      <td>
        Turn on remote access.
      </td>
    </tr>
  <% end %>
  <% if @remote.running? %>
    <tr>
      <td>
        <a href="/remote/close" onclick="fetch('/remote/close', {method: 'POST'}).then(res => window.history.go(0)); return false;">Close</a>
      </td>
      <td>
        Turn off remote access.
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <a href="/remote">Refresh</a>
    </td>
    <td>
      Update the information below.
    </td>
  </tr>
</table>

<h3>Status</h3>

<% if !@remote.enabled? %>
  Remote access is disabled.
<% elsif @remote.starting? %>
  Remote access is starting up. <a href="/remote">Refresh</a> for updates.
<% elsif @remote.failed? %>
  Starting remote access failed. See log below.
<% elsif @remote.running? %>
  Remote access is open at <strong><%= @remote.url %></strong>. It has been open since <%= @remote.status["time"] %>.
<% else %>
  Remote access is currently closed.
<% end %>

<% if @remote.log %>
  <h3>Log</h3>
  <pre><%= @remote.log %></pre>
<% end %>
